@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800");

* {
    box-sizing: border-box;
    margin: 0;
}

html,
body {
    margin: 0;
    background: white;
    font-family: 'Montserrat', helvetica, arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
}


.movie_card {
    position: relative;
    display: block;
    width: 800px;
    height: 350px;
    margin: 80px auto;
    overflow: hidden;
    border-radius: 10px;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    box-shadow: 0px 0px 120px -25px rgba(0, 0, 0, 0.5);
}

.movie_desc {
    margin-bottom: 20px;
}

.movie_card:hover {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    box-shadow: 0px 0px 80px -25px rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.movie_card .info_section {
    position: relative;
    width: 100%;
    height: 100%;
    background-blend-mode: multiply;
    z-index: 2;
    border-radius: 10px;
    padding-left: 25px;
}

.movie_card .info_section .movie_header {
    position: relative;
    padding: 25px 0;
}

.movie_card .info_section .movie_header h1 {
    color: black;
    font-weight: 400;
    margin-bottom: 15px;
}

.movie_card .info_section .movie_header h4 {
    color: #555;
    font-weight: 400;
}

.movie_card .blur_back {
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100%;
    right: 0;
    background-size: cover;
    border-radius: 11px;
}

@media screen and (min-width: 768px) {
    .movie_header {
        width: 65%;
    }

    .movie_desc {
        width: 50%;
    }

    .info_section {
        background: -webkit-gradient(linear, left top, right top, color-stop(50%, #e5e6e6), to(transparent));
        background: linear-gradient(to right, #e5e6e6 50%, transparent 100%);
    }

    .blur_back {
        width: 80%;
        background-position: -100% 10% !important;
    }
}

@media screen and (max-width: 768px) {
    .movie_card {
        width: 95%;
        margin: 70px auto;
        min-height: 350px;
        height: auto;
    }

    .blur_back {
        width: 100%;
        background-position: 50% 50% !important;
    }

    .movie_header {
        width: 100%;
        margin-top: 250px;
    }

    .movie_button {
        display: flex;
        justify-content: end;

    }

    .info_section {
        background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #e5e6e6), to(transparent));
        background: linear-gradient(to top, #e5e6e6 50%, transparent 100%);
        display: inline-grid;
    }
}

.btn {
    display: inline-block;
    background: white;
    border: 0;
    line-height: 2.5em;
    padding: 0 0 0 1em;
    margin-bottom: 1em;
    outline: none;
    text-decoration: none;
    color: #666;
}

.btn .arrow {
    display: inline-block;
    line-height: 2.5em;
    text-align: center;
    background: #333;
    color: white;
    font-size: 1em;
    width: 2.5em;
    -webkit-transition: margin 200ms;
    transition: margin 200ms;
    margin-left: .75em;
}

.btn:hover {
    background: white;
}

.btn:hover .arrow {
    margin-left: 1.25em;
    background-color: #262626;
}

.btn:active {
    background: #ccc;
}

.btn:active .arrow {
    margin-left: 1.5em;
}

.right {
    transform: rotate(180deg);
}